*{
	margin: 0px;
	padding: 0px;
}



body{
		
}


header{
  background-image: -moz-linear-gradient( -4deg, rgb(166,42,215) 0%, rgb(65,131,241) 100%);
  background-image: -webkit-linear-gradient( -4deg, rgb(166,42,215) 0%, rgb(65,131,241) 100%);
  background-image: -ms-linear-gradient( -4deg, rgb(166,42,215) 0%, rgb(65,131,241) 100%);
  top: 0px;
  height: 992px;
  width: 100%;
  background-repeat: no-repeat;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1200;
}


.logo{
	margin-right: 328px;
	margin-top: 52px;
}

.menu{
	display: flex;
	margin-top: 77px;
	overflow: hidden;
}


.menu{
	margin-left: 50px;
}

.menu a{
	font-family: Myriad Pro;
	font-size: 18px;
	margin-right: 50px;		
	color: #EEEAFC;
	text-decoration: none;

}

.menu a:hover{
	text-align: center;
	background: #A62AD7;
	border-radius: 100px;
	height: 40px;
	width: 95px;

}

.iphone{
	margin-top: 200px;
	margin: px;
}

.topmenu{
	display: flex;
}

.download{
	    margin-top: 268px;
}
.download h1{
	font-family: 'OpenSans' , sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35);
    font-weight:  bold;
    margin-bottom: 46px;

}

.download h2{
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
	margin-bottom: 90px;
	color: #FFFFFF;
	line-height: 1.875;
}

.download p{
	font-family: 'OpenSans', Sembol, sans-serif;
	color: #FFFFFF;
	font-weight: ;
	font-size: 28px;
}

.store{
	display: flex;
	margin-top: 33px;
}

.appstore{
	margin-right: 33px;	
}

.container_two{
	background:  url(../img/bg-two.png);
	background-repeat: no-repeat;
	width: auto; 
	height: 838px;
}

.features {
	font-family: 'OpenSans'  , sans-serif;
	color: #3B434D;
}

.features h1{
	text-align: center;
	font-size: 60px;
	margin-top: 122px;
}

.features p{
	margin-top: 40px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
}

.icons{
	display: flex;
	justify-content: space-around;
	margin-top: 128px;
	text-align: center;
	font-family: 'Myriad Pro' ,Regular, sans-serif;
}

.icons h2{
	color: #3B434D;
	font-size: 30px;
}

.icons p{
	color: #494F5A;
	line-height: 26px;
	font-size: 13px; 
}

.full_n img:hover {
	background-image: url(../img/full_hover.png);
	background-repeat: no-repeat;
}

.listen_n img:hover {
	background-image: url(../img/listen_hover.png);
	background-repeat: no-repeat;
}

.image_g img:hover {
	background-image: url(../img/image_hover.png);
	background-repeat: no-repeat;
}